*{box-sizing: border-box;}



body{
    font-size: 16px;
    background-color:var(--charGrey)
}

/* Fonts */
@import url('https://fonts.googleapis.com/css2?family=Outfit:wght@400;500&family=Roboto:wght@400;700&display=swap');

/* Colors */
:root{
    --primaryTomato: hsl(4, 100%, 67%);
    --darkGrey: hsl(hsl(234, 29%, 20%));
    --charGrey:  hsl(235, 18%, 26%);
    --grey: hsl(231, 7%, 60%);
    --white: hsl(0, 0%, 100%);
    --btn: hsl(232,30%,21%);
}

.container{
    display: flex;
    background-color: var(--white);
    max-width: 900px;
    margin: 0 auto;
    max-height: 500px;
    border-radius: 10px;
}

.left-side{
    margin: 50px;
    /* padding: 50px; */
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    width: auto;
}

h1{
    font-size: 3rem;
    margin: 0;
}

h2{
    font-size: 1.2rem;
    font-weight: lighter;
}

.box{
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.content{
    display: flex;
    align-items: center;
}

.img-side img{
    margin-right: 5px;
}

.para{
    font-size: .9rem;
}

.form form{
    display: flex;
    flex-direction: column;
}

label{
    margin-bottom: 10px;
}

input[type=email]{
    width: 150%;
    padding: 10px;
    margin: 10px 0;
    border-radius: 5px;
    border: 1px solid gray;
}

#error_message {
    display: none;
    font-size: 0.8rem;
    color: red;
    margin-left: 5px;
}

.btn {
    background-color: var(--btn);
    color: var(--white);
    width: 150%;
    padding: 10px;
    border-radius: 5px;
    font-weight: bold;
    font-size: 1rem;
}

.btn:hover{
    opacity: .7;
    cursor: pointer;
}

.right-side img {
    width: 380px;
    height: 480px;
    margin: 10px;
}
